<div class=" mt-3">
  <h1 class="text-center display-2">Lista de Pacientes</h1>
    <div class="d-flex justify-content-left mb-1">
      <div class="input-group" style="width: 40%;">
        <button type="button" class="btn btn-primary" (click)="limpiarInput()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill" viewBox="0 0 16 16">
          <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
        </svg></button>
        <input type="text" class="form-control bg-light fs-4 bg-opacity-75 text-center" id="button-addon2" (keyup.enter)="buscarPaciente()" [(ngModel)]="expedienteBuscar" />
        <button type="button" class="btn btn-primary" (click)="buscarPaciente()">Buscar Expediente</button>
      </div>



  </div>

  <!--       <form [formGroup]="searchForm" > -->
    <div class="d-flex">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formularioModal">
        busqueda Avanzada
      </button>
    </div>

    <div class="d-flex justify-content-end mb-3">
    <a routerLink="/crear-paciente" [routerLink]="['/crear']" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
        <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
       </svg> Crear
    </a>
  </div>



    <table class="table table-dark table-borderless fs-5 " aria-labelledby="tableLabel" *ngIf="pacientes.length > 0">
      <thead class="">
        <tr>

          <th class="text-center bg-info text-light"></th>
          <th class="text-center bg-info text-light"></th>
          <th class="text-center bg-info text-light"></th>
          <th class="text-center bg-info text-light" (click)="sortTable('expediente')">Exp</th>
          <th class="text-center bg-info text-light" (click)="sortTable('nombre')">Nombre</th>
          <th class="text-center bg-info text-light" (click)="sortTable('dpi')">DPI</th>
          <th class="text-center bg-info text-light" (click)="sortTable('sexo')">Sexo</th>
          <th class="text-center bg-info text-light" (click)="sortTable('edad')">Edad</th>
          <th class="text-center bg-info text-light" (click)="sortTable('estado')">Estado</th>
          <th class="text-center bg-info text-light" (click)="sortTable('id')">ID</th>
        </tr>
      </thead>

      <tbody class="justify-content-center">
        <tr *ngFor="let paciente of filteredPacientes">
          <td>
            <!-- <button class="btn btn-outline-dark" [routerLink]="['/detalleP/view', paciente.expediente]">ver</button> -->
          </td>
          <td>
            <button class="btn btn-info btn-sm" [routerLink]="['/paciente/edit', paciente.id]">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </button>
          </td>
          <td>
            <button class="btn btn-light btn-sm" [routerLink]="['/buscar/view', paciente.id]">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg>
            </button>
          </td>
          <td class="h3 text-center  ">{{ paciente.expediente }}</td>
          <td class=" text-text">nombre:      {{ paciente.nombre}}<br>apellido:       {{ paciente.apellido }}</td>
          <td class="text-center">{{ paciente.dpi | anyToText | formatoDPI }}</td>
          <td class="text-center">{{ paciente.sexo }}</td>
          <td class="text-center">{{ paciente.nacimiento | edad }}</td>
          <td class="text-center">{{ paciente.estado }}</td>
          <td class="small">{{ paciente.id }}</td>
        </tr>
      </tbody>
    </table>
<!-- Paginación -->
  <div class="d-flex justify-content-center pagination mt-3">
    <div class="btn-group" [class.disabled]="paginaActual === 1" *ngIf="totalPaginas()">
      <button type="button" class="btn btn-secondary" (click)="onPageChange(1)" aria-label="Primera">Primera</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">Anterior</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">Siguiente</button>
      <button type="button" class="btn btn-secondary" (click)="onPageChange(totalPaginas())" aria-label="Última">Última</button>
    </div>
  </div>
</div>


<div class="modal fade" id="formularioModal" tabindex="-1" aria-labelledby="formularioModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-terce">
        <h5 class="modal-title " id="formularioModalLabel">Busqueda Avanzada</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
        <form class="d-flex justify-content-center align-items-center">
          <input type="sumit" class="form-control bg-primary text-light text-capitalize" placeholder="nombre" name="nombreBuscar" [(ngModel)]="nombreBuscar">
          <input type="text" class="form-control bg-primary text-light text-capitalize" placeholder="apellido" name="apellidoBuscar" [(ngModel)]="apellidoBuscar">
          <input type="text" class="form-control bg-primary text-light" placeholder="DPI" name="dpiBuscar" [(ngModel)]="dpiBuscar">
          <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal" (click)="buscarPacientes()">buscar</button>
        </form>
        <form>
          <!-- <input type="text" class="form-control" placeholder="dpi" name="dpiBuscar" [(ngModel)]="dpiBuscar"> -->
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="buscarDPI()">buscar</button> -->
        </form>

      </div>

      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
