<!-- Título -->
<h1>Lista de Pacientes</h1>

<div class="header bg-dark border-radius" data-bs-theme="dark">
  <!-- Barra de búsqueda a la izquierda -->
  <input type="text" placeholder="Buscar paciente..." class="search-bar" />
  <div class="flex">
    <button routerLink="/crear-paciente" [routerLink]="['/crear']" class="create-button float-end"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-add" viewBox="0 0 16 16">
      <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
      <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
    </svg>Crear</button>
  </div>
  <!-- Botón Crear a la derecha -->


</div>

  <table class="table rounded-table table-hover table-striped border-radius" aria-labelledby="tableLabel" *ngIf="pacientes.length > 0">
    <thead>
      <tr>
        <th class="text-center bg-dark"></th>
        <th class="text-center bg-dark"></th>
        <!-- <th class="text-center"></th> -->
        <th class="text-center bg-dark" (click)="sortTable('expediente')">Exp</th>
        <th class="text-center bg-dark" (click)="sortTable('nombre')">Nombre</th>
        <th class="text-center bg-dark" (click)="sortTable('dpi')">DPI</th>
        <th class="text-center bg-dark" (click)="sortTable('sexo')">Sexo</th>
        <th class="text-center bg-dark" (click)="sortTable('edad')">Edad</th>
        <th class="text-center bg-dark" (click)="sortTable('estado')">Estado</th>
        <th class="text-center bg-dark" (click)="sortTable('id')">ID</th>
      </tr>
    </thead>

    <tbody class="justify-content-center">
      <tr *ngFor="let paciente of filteredPacientes">
        <td>
          <!-- <button class="btn btn-outline-dark" [routerLink]="['/detalleP/view', paciente.expediente]">ver</button> -->
        </td>
        <td>
          <button class="btn btn-info btn-sm" [routerLink]="['/paciente/edit', paciente.expediente]">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
          </button>
        </td>
        <!-- <td>
          <button class="btn btn-danger btn-sm" (click)="delete(paciente.id)">
            <span class="bi bi-trash"></span> Borrar
          </button>
        </td> -->
        <td class="h3 text-center bg-red">{{ paciente.expediente }}</td>
        <td class="text-center">n: {{ paciente.nombre}} <br> apellido: {{ paciente.apellido }}</td>
        <td class="text-center">{{ paciente.dpi | numberToText | formatoDPI }}</td>
        <td class="text-center">{{ paciente.sexo }}</td>
        <td class="text-center">{{ paciente.nacimiento | edad }}</td>
        <td class="text-center">{{ paciente.estado }}</td>
        <td class="small">{{ paciente.id }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Paginación -->
  <nav *ngIf="totalPaginas()">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class.disabled]="paginaActual === 1">
        <a class="page-link" (click)="onPageChange(1)" aria-label="Primera">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Primera</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="paginaActual === 1">
        <a class="page-link" (click)="onPageChange(paginaActual - 1)" aria-label="Anterior">
          <span aria-hidden="true">&lt;</span>
          <span class="sr-only">Anterior</span>
        </a>
      </li>
      <li class="page-item" *ngFor="let pagina of getPaginas()" [class.active]="pagina === paginaActual">
        <a class="page-link" (click)="onPageChange(pagina)">{{ pagina }}</a>
      </li>
      <li class="page-item" [class.disabled]="paginaActual === totalPaginas()">
        <a class="page-link" (click)="onPageChange(paginaActual + 1)" aria-label="Siguiente">
          <span aria-hidden="true">&gt;</span>
          <span class="sr-only">Siguiente</span>
        </a>
      </li>
      <li class="page-item" [class.disabled]="paginaActual === totalPaginas()">
        <a class="page-link" (click)="onPageChange(totalPaginas())" aria-label="Última">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Última</span>
        </a>
      </li>
    </ul>
  </nav>
